# Dependencies
node_modules/
*/node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/

# Deployment
*.zip
.DS_Store
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

*.swp
.idea/dd
__pycache__/
